<div class="content">
       <div class="container-fluid">

           <div class="page-title-box">
               <span class="h4 page-title">Clients </span>
               <ol class="breadcrumb">
                   <li class="breadcrumb-item"><a href="/">Home</a></li>
                   <li class="breadcrumb-item"><a href="clients.html">Clients</a></li>
                   <li class="breadcrumb-item active" aria-current="page">Edit Client</li>
               </ol>
           </div>

           <div class="row">
               <div class="col-lg-12">
                   <div class="card-box">

                       <h1>Edit Client</h1>


                       <hr>

                       <div class="row">
                           <div class="col-md-8">
                               <!--<form action=""> -->
                               <%= form_with url: update_edit_client_path,  model: Forms::ClientEdit.new, local: true, method: 'patch' do |form| %>
                               <%if @validation_errors%>
                               <%= render "shared/validation_error", errors: @validation_errors %>
                               <%end%>
                                   <!-- Row 1 -->
                                   <div class="row">
                                       <div class="col d-flex flex-row">

                                           <div class="form-group custom-control custom-checkbox">
                                             <%= form.check_box :deceased, value: set_value(@validation_errors, @forms_client_edit, :deceased, @deceased), class: "custom-control-input", id: "deceasedCheck" %>
                                             <%= form.label :deceased?, class: "custom-control-label", for: "deceasedCheck" %>
                                           </div>
                                       </div>
                                       <!-- /.col -->
                                   </div>
                                   <!-- /.d-flex flex-row -->

                                   <!-- Row 2 -->
                                   <div class="row">
                                       <div class="col flex-grow-0 d-flex flex-row">
                                           <span class="label mr-4">Gender</span>

                                           <div class="form-group custom-control custom-radio mr-2">
                                             <%= form.radio_button :gender, 1, id: "genderMale", class: "custom-control-input" %>
                                             <%= form.label :male, class: "custom-control-label", for: "genderMale" %>
                                           </div>
                                       </div>
                                       <!-- /.d-flex flex-row -->
                                       <div class="col d-flex flex-row">

                                           <div class="custom-control custom-radio">
                                             <%= form.radio_button :gender,  0, id: "genderFemale", class: "custom-control-input" %>
                                             <%= form.label :female, class: "custom-control-label", for: "genderFemale" %>
                                           </div>

                                       </div>
                                       <!-- /.d-flex flex-row -->
                                   </div>
                                   <!-- /.row -->

                                   <!-- Row 3 -->
                                   <div class="row">

                                       <div class="col-md-6 d-flex flex-row">

                                           <div class="form-group mr-3">
                                             <%=form.label :initials, for: "initials"%>
                                              <%=form.text_field :initials, id: "Initials", value: set_value(@validation_errors, @forms_client_edit, :initials, @initials), class: "form-control", maxlength: "10", size: "10"%>
                                           </div>
                                           <div class="form-group flex-grow-1">
                                             <%=form.label :first_name, for: "nameFirst"%>
                                             <%=form.text_field :first_name, id: "nameFirst", value: set_value(@validation_errors, @forms_client_edit, :first_name, @first_name), class: "form-control"%>
                                           </div>
                                       </div>
                                       <!-- / col -->


                                       <div class="col-md-6 d-flex flex-row">

                                           <div class="form-group mr-3">
                                             <%=form.label :inserts, for: "nameInserts"%>
                                             <%=form.text_field :inserts, id: "nameInserts", value: set_value(@validation_errors, @forms_client_edit, :inserts, @inserts), class: "form-control", maxlength: "4", size: "4"%>
                                           </div>
                                           <div class="form-group flex-grow-1">
                                             <%=form.label :last_name, for: "nameLast"%>
                                             <%=form.text_field :last_name, id: "nameLast", value: set_value(@validation_errors, @forms_client_edit, :last_name, @last_name), class: @forms_client_edit.errors[:last_name].none? ? "form-control mr-3" : "form-control mr-3 is-invalid"%>
                                           </div>

                                       </div>
                                       <!-- / col -->
                                   </div>
                                   <!-- /.form-group row -->

                                   <!-- Row 4 -->
                                   <div class="row">
                                       <div class="col-md-6">
                                           <div class="form-group">
                                             <%=form.label :bsn, "BSN", for: "bsn" %>
                                              <%=form.text_field :bsn, value: set_value(@validation_errors, @forms_client_edit, :bsn, @bsn), class: @forms_client_edit.errors[:bsn].count == 0 ? "form-control mr-3" : "form-control mr-3 is-invalid", id: "bsn"%>
                                           </div>
                                       </div>
                                       <!-- /.col-md-6 -->
                                       <div class="col-md-6">
                                         <%=form.label :birth_date, "Date of Birth", for: "birthdate"%>
                                         <%=form.text_field :birth_date, value: set_value(@validation_errors, @forms_client_edit, :birth_date, @birth_date), class: @forms_client_edit.errors[:birth_date].count == 0 ? "form-control" : "form-control is-invalid", id: "birthdate"%>
                                       </div>
                                       <!-- /.col-md-6 -->

                                   </div>
                                   <!-- /.row -->

                                   <!-- Row 5 -->
                                   <div class="row">
                                       <div class="col-md-6">
                                           <div class="form-group">
                                             <%=form.label :address, for: "address"%>
                                             <%=form.text_field :street_name, value: set_value(@validation_errors, @forms_client_edit, :street_name, @street_name), id: "address", class: @forms_client_edit.errors[:street_name].count == 0 ? "form-control mr-3" : "form-control mr-3 is-invalid"%>
                                           </div>
                                       </div>
                                       <!-- /.col-md-6 -->
                                       <div class="col-md-6">

                                           <div class="form-group">

                                               <div class="d-flex flex-row">

                                                 <div class="form-group mr-3">
                                                     <%=form.label :house_number, for: "houseNumber"%>
                                                     <%=form.text_field :house_number, value: set_value(@validation_errors, @forms_client_edit, :house_number, @house_number), id: "houseNumber", class: @forms_client_edit.errors[:house_number].count == 0 ? "form-control mr-3" : "form-control mr-3 is-invalid"%>
                                               </div>

                                               <div class="form-group mr-3">
                                                 <%=form.label :extension, for: "extension"%>
                                                 <%=form.text_field :extension, value: set_value(@validation_errors, @forms_client_edit, :extension, @extension), id: "extension", class: "form-control mr-3"%>
                                               </div>

                                               <div class="form-group mr-3">
                                                 <%=form.label :post_code, for: "postCode"%>
                                                 <%=form.text_field :post_code, value: set_value(@validation_errors, @forms_client_edit, :post_code, @post_code), id: "postCode", class: @forms_client_edit.errors[:post_code].count == 0 ? "form-control mr-3" : "form-control mr-3 is-invalid"%>
                                               </div>

                                               </div>

                                           </div>

                                       </div>
                                       <!-- /.col-md-6 -->
                                   </div>
                                   <!-- /.row -->

                                   <!-- Row 6 -->
                                   <div class="row">
                                       <div class="col-md-6">
                                           <div class="form-group">
                                             <%=form.label :place, for: "place"%>
                                             <%=form.text_field :place, value: set_value(@validation_errors, @forms_client_edit, :place, @place), class: @forms_client_edit.errors[:place].count == 0 ? "form-control" : "form-control is-invalid", id: "place"%>
                                           </div>
                                       </div>
                                       <!-- /.col-md-6 -->
                                       <div class="col-md-6">
                                           <div class="form-group">
                                               <label for="country" class="">Country</label>

                                               <select class="custom-select" id="country" name="forms_client_edit[country]">
                                                   <option value="AF">Afghanistan</option>
                                                   <option value="AX">Åland Islands</option>
                                                   <option value="AL">Albania</option>
                                                   <option value="DZ">Algeria</option>
                                                   <option value="AS">American Samoa</option>
                                                   <option value="AD">Andorra</option>
                                                   <option value="AO">Angola</option>
                                                   <option value="AI">Anguilla</option>
                                                   <option value="AQ">Antarctica</option>
                                                   <option value="AG">Antigua and Barbuda</option>
                                                   <option value="AR">Argentina</option>
                                                   <option value="AM">Armenia</option>
                                                   <option value="AW">Aruba</option>
                                                   <option value="AU">Australia</option>
                                                   <option value="AT">Austria</option>
                                                   <option value="AZ">Azerbaijan</option>
                                                   <option value="BS">Bahamas</option>
                                                   <option value="BH">Bahrain</option>
                                                   <option value="BD">Bangladesh</option>
                                                   <option value="BB">Barbados</option>
                                                   <option value="BY">Belarus</option>
                                                   <option value="BE">Belgium</option>
                                                   <option value="BZ">Belize</option>
                                                   <option value="BJ">Benin</option>
                                                   <option value="BM">Bermuda</option>
                                                   <option value="BT">Bhutan</option>
                                                   <option value="BO">Bolivia, Plurinational State of</option>
                                                   <option value="BQ">Bonaire, Sint Eustatius and Saba</option>
                                                   <option value="BA">Bosnia and Herzegovina</option>
                                                   <option value="BW">Botswana</option>
                                                   <option value="BV">Bouvet Island</option>
                                                   <option value="BR">Brazil</option>
                                                   <option value="IO">British Indian Ocean Territory</option>
                                                   <option value="BN">Brunei Darussalam</option>
                                                   <option value="BG">Bulgaria</option>
                                                   <option value="BF">Burkina Faso</option>
                                                   <option value="BI">Burundi</option>
                                                   <option value="KH">Cambodia</option>
                                                   <option value="CM">Cameroon</option>
                                                   <option value="CA">Canada</option>
                                                   <option value="CV">Cape Verde</option>
                                                   <option value="KY">Cayman Islands</option>
                                                   <option value="CF">Central African Republic</option>
                                                   <option value="TD">Chad</option>
                                                   <option value="CL">Chile</option>
                                                   <option value="CN">China</option>
                                                   <option value="CX">Christmas Island</option>
                                                   <option value="CC">Cocos (Keeling) Islands</option>
                                                   <option value="CO">Colombia</option>
                                                   <option value="KM">Comoros</option>
                                                   <option value="CG">Congo</option>
                                                   <option value="CD">Congo, the Democratic Republic of the</option>
                                                   <option value="CK">Cook Islands</option>
                                                   <option value="CR">Costa Rica</option>
                                                   <option value="CI">Côte d'Ivoire</option>
                                                   <option value="HR">Croatia</option>
                                                   <option value="CU">Cuba</option>
                                                   <option value="CW">Curaçao</option>
                                                   <option value="CY">Cyprus</option>
                                                   <option value="CZ">Czech Republic</option>
                                                   <option value="DK">Denmark</option>
                                                   <option value="DJ">Djibouti</option>
                                                   <option value="DM">Dominica</option>
                                                   <option value="DO">Dominican Republic</option>
                                                   <option value="EC">Ecuador</option>
                                                   <option value="EG">Egypt</option>
                                                   <option value="SV">El Salvador</option>
                                                   <option value="GQ">Equatorial Guinea</option>
                                                   <option value="ER">Eritrea</option>
                                                   <option value="EE">Estonia</option>
                                                   <option value="ET">Ethiopia</option>
                                                   <option value="FK">Falkland Islands (Malvinas)</option>
                                                   <option value="FO">Faroe Islands</option>
                                                   <option value="FJ">Fiji</option>
                                                   <option value="FI">Finland</option>
                                                   <option value="FR">France</option>
                                                   <option value="GF">French Guiana</option>
                                                   <option value="PF">French Polynesia</option>
                                                   <option value="TF">French Southern Territories</option>
                                                   <option value="GA">Gabon</option>
                                                   <option value="GM">Gambia</option>
                                                   <option value="GE">Georgia</option>
                                                   <option value="DE">Germany</option>
                                                   <option value="GH">Ghana</option>
                                                   <option value="GI">Gibraltar</option>
                                                   <option value="GR">Greece</option>
                                                   <option value="GL">Greenland</option>
                                                   <option value="GD">Grenada</option>
                                                   <option value="GP">Guadeloupe</option>
                                                   <option value="GU">Guam</option>
                                                   <option value="GT">Guatemala</option>
                                                   <option value="GG">Guernsey</option>
                                                   <option value="GN">Guinea</option>
                                                   <option value="GW">Guinea-Bissau</option>
                                                   <option value="GY">Guyana</option>
                                                   <option value="HT">Haiti</option>
                                                   <option value="HM">Heard Island and McDonald Islands</option>
                                                   <option value="VA">Holy See (Vatican City State)</option>
                                                   <option value="HN">Honduras</option>
                                                   <option value="HK">Hong Kong</option>
                                                   <option value="HU">Hungary</option>
                                                   <option value="IS">Iceland</option>
                                                   <option value="IN">India</option>
                                                   <option value="ID">Indonesia</option>
                                                   <option value="IR">Iran, Islamic Republic of</option>
                                                   <option value="IQ">Iraq</option>
                                                   <option value="IE">Ireland</option>
                                                   <option value="IM">Isle of Man</option>
                                                   <option value="IL">Israel</option>
                                                   <option value="IT">Italy</option>
                                                   <option value="JM">Jamaica</option>
                                                   <option value="JP">Japan</option>
                                                   <option value="JE">Jersey</option>
                                                   <option value="JO">Jordan</option>
                                                   <option value="KZ">Kazakhstan</option>
                                                   <option value="KE">Kenya</option>
                                                   <option value="KI">Kiribati</option>
                                                   <option value="KP">Korea, Democratic People's Republic of</option>
                                                   <option value="KR">Korea, Republic of</option>
                                                   <option value="KW">Kuwait</option>
                                                   <option value="KG">Kyrgyzstan</option>
                                                   <option value="LA">Lao People's Democratic Republic</option>
                                                   <option value="LV">Latvia</option>
                                                   <option value="LB">Lebanon</option>
                                                   <option value="LS">Lesotho</option>
                                                   <option value="LR">Liberia</option>
                                                   <option value="LY">Libya</option>
                                                   <option value="LI">Liechtenstein</option>
                                                   <option value="LT">Lithuania</option>
                                                   <option value="LU">Luxembourg</option>
                                                   <option value="MO">Macao</option>
                                                   <option value="MK">Macedonia, the former Yugoslav Republic of</option>
                                                   <option value="MG">Madagascar</option>
                                                   <option value="MW">Malawi</option>
                                                   <option value="MY">Malaysia</option>
                                                   <option value="MV">Maldives</option>
                                                   <option value="ML">Mali</option>
                                                   <option value="MT">Malta</option>
                                                   <option value="MH">Marshall Islands</option>
                                                   <option value="MQ">Martinique</option>
                                                   <option value="MR">Mauritania</option>
                                                   <option value="MU">Mauritius</option>
                                                   <option value="YT">Mayotte</option>
                                                   <option value="MX">Mexico</option>
                                                   <option value="FM">Micronesia, Federated States of</option>
                                                   <option value="MD">Moldova, Republic of</option>
                                                   <option value="MC">Monaco</option>
                                                   <option value="MN">Mongolia</option>
                                                   <option value="ME">Montenegro</option>
                                                   <option value="MS">Montserrat</option>
                                                   <option value="MA">Morocco</option>
                                                   <option value="MZ">Mozambique</option>
                                                   <option value="MM">Myanmar</option>
                                                   <option value="NA">Namibia</option>
                                                   <option value="NR">Nauru</option>
                                                   <option value="NP">Nepal</option>
                                                   <option value="NL" selected>Netherlands</option>
                                                   <option value="NC">New Caledonia</option>
                                                   <option value="NZ">New Zealand</option>
                                                   <option value="NI">Nicaragua</option>
                                                   <option value="NE">Niger</option>
                                                   <option value="NG">Nigeria</option>
                                                   <option value="NU">Niue</option>
                                                   <option value="NF">Norfolk Island</option>
                                                   <option value="MP">Northern Mariana Islands</option>
                                                   <option value="NO">Norway</option>
                                                   <option value="OM">Oman</option>
                                                   <option value="PK">Pakistan</option>
                                                   <option value="PW">Palau</option>
                                                   <option value="PS">Palestinian Territory, Occupied</option>
                                                   <option value="PA">Panama</option>
                                                   <option value="PG">Papua New Guinea</option>
                                                   <option value="PY">Paraguay</option>
                                                   <option value="PE">Peru</option>
                                                   <option value="PH">Philippines</option>
                                                   <option value="PN">Pitcairn</option>
                                                   <option value="PL">Poland</option>
                                                   <option value="PT">Portugal</option>
                                                   <option value="PR">Puerto Rico</option>
                                                   <option value="QA">Qatar</option>
                                                   <option value="RE">Réunion</option>
                                                   <option value="RO">Romania</option>
                                                   <option value="RU">Russian Federation</option>
                                                   <option value="RW">Rwanda</option>
                                                   <option value="BL">Saint Barthélemy</option>
                                                   <option value="SH">Saint Helena, Ascension and Tristan da Cunha</option>
                                                   <option value="KN">Saint Kitts and Nevis</option>
                                                   <option value="LC">Saint Lucia</option>
                                                   <option value="MF">Saint Martin (French part)</option>
                                                   <option value="PM">Saint Pierre and Miquelon</option>
                                                   <option value="VC">Saint Vincent and the Grenadines</option>
                                                   <option value="WS">Samoa</option>
                                                   <option value="SM">San Marino</option>
                                                   <option value="ST">Sao Tome and Principe</option>
                                                   <option value="SA">Saudi Arabia</option>
                                                   <option value="SN">Senegal</option>
                                                   <option value="RS">Serbia</option>
                                                   <option value="SC">Seychelles</option>
                                                   <option value="SL">Sierra Leone</option>
                                                   <option value="SG">Singapore</option>
                                                   <option value="SX">Sint Maarten (Dutch part)</option>
                                                   <option value="SK">Slovakia</option>
                                                   <option value="SI">Slovenia</option>
                                                   <option value="SB">Solomon Islands</option>
                                                   <option value="SO">Somalia</option>
                                                   <option value="ZA">South Africa</option>
                                                   <option value="GS">South Georgia and the South Sandwich Islands</option>
                                                   <option value="SS">South Sudan</option>
                                                   <option value="ES">Spain</option>
                                                   <option value="LK">Sri Lanka</option>
                                                   <option value="SD">Sudan</option>
                                                   <option value="SR">Suriname</option>
                                                   <option value="SJ">Svalbard and Jan Mayen</option>
                                                   <option value="SZ">Swaziland</option>
                                                   <option value="SE">Sweden</option>
                                                   <option value="CH">Switzerland</option>
                                                   <option value="SY">Syrian Arab Republic</option>
                                                   <option value="TW">Taiwan, Province of China</option>
                                                   <option value="TJ">Tajikistan</option>
                                                   <option value="TZ">Tanzania, United Republic of</option>
                                                   <option value="TH">Thailand</option>
                                                   <option value="TL">Timor-Leste</option>
                                                   <option value="TG">Togo</option>
                                                   <option value="TK">Tokelau</option>
                                                   <option value="TO">Tonga</option>
                                                   <option value="TT">Trinidad and Tobago</option>
                                                   <option value="TN">Tunisia</option>
                                                   <option value="TR">Turkey</option>
                                                   <option value="TM">Turkmenistan</option>
                                                   <option value="TC">Turks and Caicos Islands</option>
                                                   <option value="TV">Tuvalu</option>
                                                   <option value="UG">Uganda</option>
                                                   <option value="UA">Ukraine</option>
                                                   <option value="AE">United Arab Emirates</option>
                                                   <option value="GB">United Kingdom</option>
                                                   <option value="US">United States</option>
                                                   <option value="UM">United States Minor Outlying Islands</option>
                                                   <option value="UY">Uruguay</option>
                                                   <option value="UZ">Uzbekistan</option>
                                                   <option value="VU">Vanuatu</option>
                                                   <option value="VE">Venezuela, Bolivarian Republic of</option>
                                                   <option value="VN">Viet Nam</option>
                                                   <option value="VG">Virgin Islands, British</option>
                                                   <option value="VI">Virgin Islands, U.S.</option>
                                                   <option value="WF">Wallis and Futuna</option>
                                                   <option value="EH">Western Sahara</option>
                                                   <option value="YE">Yemen</option>
                                                   <option value="ZM">Zambia</option>
                                                   <option value="ZW">Zimbabwe</option>
                                               </select>
                                           </div>
                                       </div>
                                       <!-- /.col-md-6 -->

                                   </div>
                                   <!-- /.row -->

                                   <!-- Row 7 -->
                                   <div class="row">
                                       <div class="col-md-6">
                                           <div class="form-group">
                                             <%=form.label :work_phone_number, for: "phoneWork"%>
                                               <%=form.text_field :work_phone, value: set_value(@validation_errors, @forms_client_edit, :work_phone, @work_phone), id: "phoneWork", class: "form-control"%>
                                           </div>
                                       </div>
                                       <!-- /.col-md-6 -->
                                       <div class="col-md-6">
                                           <div class="form-group">
                                             <%=form.label :mobile_number, for: "phoneMobile"%>
                                               <%=form.text_field :mobile_phone, value: set_value(@validation_errors, @forms_client_edit, :mobile_phone, @mobile_phone), id: "phoneMobile", class: "form-control"%>
                                           </div>
                                       </div>
                                       <!-- /.col-md-6 -->

                                   </div>
                                   <!-- /.row -->

                                   <!-- Row 8 -->
                                   <div class="row">
                                       <div class="col">
                                           <div class="form-group">
                                             <%=form.label :home_phone, "Home Phone Number", for: "phoneHome"%>
                                             <%=form.text_field :home_phone, value: set_value(@validation_errors, @forms_client_edit, :home_phone, @home_phone), id: "phoneHome", class:"form-control"%>
                                           </div>
                                       </div>
                                       <!-- /.col -->
                                   </div>
                                   <!-- /.row -->

                                   <!-- Row 9 -->
                                   <div class="row">
                                       <div class="col">
                                           <div class="form-group">
                                             <%=form.label :email_address, for: "email"%><br/>
                                             <%=form.email_field :email_address, value: set_value(@validation_errors, @forms_client_edit, :email_address, @email_address), class: @forms_client_edit.errors[:email_address].count == 0 ? "form-control" : "form-control is-invalid", id: "email", placeholder: "email@example.com"%>
                                           </div>
                                       </div>
                                       <!-- /.col -->
                                   </div>
                                   <!-- /.row -->

                                   <div class="row">
                                       <div class="col">
                                         <%=form.submit "Cancel", data: {disable_with: false}, class: "btn btn-secondary btn-lg mr-3"%>
                                          <%=form.submit "Save", data: {disable_with: false}, class: "btn btn-primary btn-lg"%>
                                           <button type="button" class="btn btn-text btn-lg text-muted">Delete Client</button>
                                       </div>
                                       <!-- /.col -->
                                   </div>
                                   <!-- /.row -->
                               <%end%>

                           </div>
                           <!-- /.col-md-8 -->
                           <div class="col-md-4 mt-3">
                               <div class="card bg-lighter mb-3 text-muted" style="max-width: 18rem;">
                                   <div class="card-body ">
                                       <h4>Need help?</h4>
                                       <p class="card-text">If you are experiencing technical issues or would like to
                                           ask a question please <a href="support.html" class="text-muted text-underline">contact Cenzo support</a>.</p>
                                   </div>
                               </div>
                           </div>
                           <!-- /.col-md-4 -->
                       </div>
                       <!-- /.row -->

                   </div>
                   <!-- /.card-box -->

               </div>
               <!-- /.col-lg-12 -->

           </div>
           <!-- end row -->
       </div> <!-- container -->


   </div> <!-- content -->



               <!-- ========== boilerplate========== -->
              <!-- <?php include 'partials/boilerplate.html';?> -->
